@{
    ViewData["Title"] = "Stand de Automóveis";
}

<div>
    <h1 class="display-4">Stand de Automóveis</h1>
    <img align="left" width="860" src="https://www.autorestelo.com/wf/image/size/1200/url/_lib/imgs/empresa/Lineup-Stand-3.jpg">
    <p><a href="https://localhost:7089/Viaturas">Automóveis</a></p>
    <p><a href="https://localhost:7089/Funcionarios">Funcionários</a></p>
    <p><a href="https://localhost:7089/Clientes">Clientes</a></p>
</div>
