@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Este site é para fins académicos.</p>
<p>Obrigada 😊</p>
<img width="400" src="https://usagif.com/wp-content/uploads/2020/11/mdvdthkyou.gif">
